<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"interview-orchestrator"}</customFields>
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeKeyValuePairs>true</includeKeyValuePairs>
            <includeContext>false</includeContext>
            <includeCallerData>false</includeCallerData>
        </encoder>
    </appender>

    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.apache.coyote.http11.Http11Processor" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
